$main: 		#000000;
$secondary: #606070;
$highlight: #80113a;
$white: 	#ffffff;

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
	width: 1440px;
	max-width: 90%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

#top_header {
	padding: 1.5em 0;
	.logo {
		float: left;
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
	}

	#main_nav {
	float: right;
	font-size: .9em;
	padding-top: 1em;
	a {
		color: $secondary;
		text-decoration: none;
		margin-left: 1em;
	  }
	}
}

.menu {
	display: none;
}

#banner {
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/restaurant.png) no-repeat;
	background-size: cover;
	width: 100%;
	padding: 6.5em 0;

	#banner_content_wrapper {
		width: 900px;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#poster {
		width: 275px;
		position: relative;
		float: left;
		.featured_image {
			width: 100%;
			max-width: 100%;
		}
	}

	#content {
			float: left;
			width: 500px;
			margin-left: 100px;
			.title {
				display: inline;
				font-size: 1.75em;
				color: $white;
			}
			.description {
				color: #bbbebf;
				font-size: 1em;
				line-height: 2;
			}
			.info {
				color: $white;
				font-size: .8em;
				font-weight: 700;
				margin-top: 3em;
				span {
					margin: 0 .5em;
				}
			}
		}
}

#top_movies {
	padding: 5em 0;
	header {
		padding: 0 0 1.5em 0;
		h2 {
			font-size: 1.75em;
			display: inline;
		}
	}
}

.row {
	width: 100%;
	.post {
		width: 14%;
		float: left;
		margin-right: 2.5%;
		img {
			width: 100%;
			max-width: 100%;
		}
		.title {
			font-size: 1em;
			margin: 1em 0 0 0;
			color: $main;
		}
		.post_info {
			font-size: .75em;
			color: $secondary;
			margin: 0.5em 0;
			padding: 0 0 1.5em 0;
		}
	}
}

#newsletter {
	padding: 4.5em 0;
	text-align: center;
	background: #2f3032;
	.newsletter_inner {
		width: 600px;
		max-width: 90%;
		margin: 0 auto;
	}
	h2 {
		font-size: 1.75em;
		color: $white;
	}
	.sign_up_form {
		margin-top: 3em;
		input[type="text"], input[type="email"] {
			width: 48%;
			margin: 0 .5%;
			height: 3.25em;
			border: none;
			outline: none;
			border-radius: .3em;
			background: #404043;
			padding: .5em 1.25em;
			font-size: .8em;
			color: $white;
		}
		.button {
			border: none;
			outline: none;
			padding: 1em 4.5em;
			border-radius: 2em;
			background: $highlight;
			color: $white;
			font-weight: 700;
			font-size: .9em;
			margin-top: 3em;
		}
	}
}

#main_footer {
	padding: 2.5em 0;
	text-align: center;
	.logo {
		text-transform: uppercase;
		font-size: 1.15em;
		font-weight: 700;
	}
	.copyright {
		color: $secondary;
		font-size: .75em;
	}
}

@media only screen and (max-width: 768px) {
	#main_nav {
		display: none;
	}
	#main_nav.active {
		display: block;
		width: 100%;
		a {
			display: block;
			padding: 1em 0;
			border-bottom: 1px solid #E9E9E9;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.menu {
		display: block;
		float: right;
		i {
			font-size: 1.5em;
			color: $main;
			padding-top: .6em;
		}
	}

	#banner {
		padding: 3.5em 0;
		#poster {
			width: 250px;
		}
		#content {
			margin-left: 50px;
			.title {
				font-size: 1.5em;
			}
			.description {
				font-size: .9em;
			}
			.info {
				color: $white;
				font-size: .7em;
				margin-top: 2em;
				span {
					margin: 0 .25em;
				}
			}
		}
	}

	.row {
		.post {
			width: 30.6%;
			margin: 0 1.25% 2em 1.25%;
			.title {
				font-size: 1em;
				margin: 5em 0 0 0;
			}
			.post_info {
				font-size: .65em;
			}
		}
	}

	#top_movies {
		padding: 3em 0;
		header {
			padding: 0 0 1.5em 1.25%;
			h2 {
				font-size: 1.5em;
			}
		}
	}
}

@media only screen and (max-width: 575px) {
	#banner {
		#banner_content_wrapper {
			display: block;
			#poster {
				width: 250px;
				float: none;
				display: block;
				margin: 0 auto;
			}
			#content {
				width: 100%;
				margin: 1em auto 0 auto;
			}
		}
	}

	.row {
		.post {
			width: 250px;
			margin: 0 auto 2em auto;
			float: none;
		}
	}
}

#newsletter {
	padding: 3em 0;
	h2 {
		font-size: 1.35em;
	}
	.sign_up_form {
		margin-top: 2em;
		input[type="text"], input[type="email"] {
			width: 90%;
			margin: 0 0 1em 0;
		}
	}
	.button {
		margin-top: 2em;
	}
}